div{
    width:40%;
    margin:auto;
}

td{
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
.black{
    background-color:grey;
}

.white{
    background-color: white;
}
.pawn{
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    width:20px;
    height:20px;

}